/*CELULAR*/
@media screen and (min-width:0){
    .banner{
        width: 100%;
        position: relative;
    }
    .banner_img{
        width: 100%;
    }
    .text{
        font-size: 1rem;
        position: absolute;
        margin-top: 1rem;
        width: 100%;
        text-align: center;
        
    }
    #text_banner{
        font-family: "roboto";
        color: var(--white);
        width: 100%;
    
    }
    #text_banner_down{
        color: var(--yellow);
        font-size: 1rem;

    }
}
/*TABLET*/
@media screen and (min-width:768px) {
    .banner{
        width: 100%;
        position: relative;
    }
    .banner_img{
        width: 50rem
        
    }
    .text{
        font-size: 2rem;
        position: absolute;
        margin-top: 2rem;
        margin-left: 11rem;
        
    }
    #text_banner{
        font-family: "roboto";
        color: var(--white);
        text-align: center;
    }
    #text_banner_down{
        color: var(--yellow);
        font-size: 1.5rem;
        text-align: center;
    }
}

/*NOTEBOOK*/
@media screen and (min-width:1024px) {
    .banner{
        width: 100%;
        position: relative;
    }
    .text{
        font-size: 2.5rem;
        position: absolute;
        margin-top: 3rem;
        margin-left: 20rem;
        width: 22em;
    }
    #text_banner{
        font-family: "roboto";
        color: var(--white);
    }
    #text_banner_down{
        color: var(--yellow);
        font-size: 2.7rem;
        text-align: center;
    }
    .banner_img{
        width: 100%;
        
    }
    /*Qualquer fonte como Social Gothic*/
    #gothic{
        font-family: "social-gothic";
    }
}
