.banner {
    width: 100%;
    margin-top: 6rem;
    scroll-margin-top: 0;

}

.banner img {
    width: 100%;
}

.text {
    font-size: 1.3rem;
    position: absolute;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    margin-left: -0.5rem;

}

.text p{
    font-family: "roboto";
    color: var(--white);
    
}
.text p .gothic{
    color: var(--white);
    font-family: "social-gothic";
}

#text_banner_down {
    color: var(--yellow);
    font-size: 1rem;
    font-family: 'social-gothic';

}

/*TABLET*/
@media screen and (min-width:768px) {
    .banner {
        width: 100%;
        position: relative;
    }
    .text {
        font-size: 2rem;
        position: absolute;
        margin-top: 2rem;

    }

    .text p {
        font-family: "roboto";
        color: var(--white);
        text-align: center;
        font-size: 2.5rem;
    }

    #text_banner_down {
        color: var(--yellow);
        font-size: 2rem;
        text-align: center;
    }
}

/*NOTEBOOK*/
@media screen and (min-width:1024px) {
    .banner {
        width: 100%;
        display: fixed;
    }

    .text {
        font-size: 3.5rem;
        position: absolute;
        text-align: center;
        margin-top: 6rem;
    }

    .text p {
        font-family: "roboto";
        color: var(--white);
    }

    #text_banner_down {
        color: var(--yellow);
        font-size: 4rem;
        text-align: center;
    }

    /*Qualquer fonte como Social Gothic*/
    #gothic {
        font-family: "social-gothic";
    }
}