.people {
    text-align: center;
}
.people h2{
    width: 100%;
    font-size: 1.2rem;
}
swiper-container{
    --swiper-navigation-size: 3rem;
    --swiper-navigation-color: var(--dark_blue);
    
}
swiper-slide{
    margin-left: 2.5rem;
    
}
.person {
    border: none;
    border-radius: 1rem;
    background-image: linear-gradient(#1D736F, #042E41);
    color: var(--white);
    margin-left: 5rem;
    width: 8.5em;
    height: 15em;
}
.person h3{
    font-family: "Social-Gothic";
    padding: 1rem;
    font-size: 18px;
    margin: 10px;
}
.person img{
    width: 4.5rem;
    border-radius: 5rem;
}

.person img {
    max-width: 100%;
    height: auto;
}
.person p {
    font-size: 14px;
    color: var(--yellow);
    font-family: 'Social-Gothic';
}

/*TABLET*/
@media screen and (min-width:768px) {
    .people {
        text-align: center; 
    }
    .people h2{
        margin-right: 2rem;
        font-size: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .person {
        text-align: center;
        border: none;
        border-radius: 1rem;
        background-image: linear-gradient(#1D736F, #042E41);
        color: var(--white);
        height: 18em;
        width: 12em;
    
    }
    .person h3{
        font-family: "Social-Gothic";
        padding: 1rem;
        font-size: 18px;
    }
    .person img{
        width: 8rem;
        border-radius: 5rem;
        height: auto;
    }
    .person p {
        font-size: 14px;
        color: var(--yellow);
        font-family: 'Social-Gothic';

    }
}
/*NOTEBOOK*/
@media screen and (min-width:1024px) {

    swiper-slide{
        margin-left: 0.5rem;
        
    }
    .person {
        text-align: center;
        border: none;
        border-radius: 1rem;
        background-image: linear-gradient(#1D736F, #042E41);
        color: var(--white);
        margin-left: 5rem;
        height: 20em;
        width: 20em;
    
    }
    .person h3{
        font-family: "Social-Gothic";
        padding: 1rem;
        font-size: 1.6em;
    }
    .person img{
        width: 10rem;
        border-radius: 5rem;
        height: auto;
    }
    .person p {
        font-size: 1.2em;
        color: var(--yellow);

    }
    
}
