/*CELULAR*/
@media screen and (min-width:375px) {
    .localizacao{
        background-image: url(../img/background.png);
        font-family: "Roboto";
        color: var(--white);
        text-align: center;
        border:0;
    }
    .title{
        background-color: var(--dark_blue);
        color: var(--white);
        width: 15rem;
        padding: 5px;
        text-align: center;
        margin: 3rem 0 1rem 5rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-family: 'Social-gothic';

    }
    #text{
        font-size: 1.2rem;
        margin-right: 1rem;
    }
    #gothic_loc{
        font-family: 'Social-gothic';
        color: var(--yellow);
    }
    #UTFPR{
        width: 15rem;
        border: 1rem solid white;
        border-radius: 1rem;
        margin-right: 1rem;
    }
    .infos{
        font-family: 'Social-gothic';
        margin: 2rem 1rem 9rem 0;
        font-size: 1.2rem;
        
        
    }
    iframe{
        height: 25rem;
        width: 18rem;
        border: none;
        border-radius: 1rem;
        margin: -8rem 0 1rem 0;
    }
    #font{
        font-family: 'Roboto';
    }
}



/*TABLET*/
@media screen and (min-width:768px) {
    .localizacao{
        background-image: url(../img/background.png);
        font-family: "Roboto";
        color: var(--white);
        text-align: center;
        margin:0;
        padding:0;
        border:0;
        width: 100%;
    }
    .title{
        background-color: var(--dark_blue);
        color: var(--white);
        width: 15rem;
        text-align: center;
        margin: 2rem 0 1rem 17rem;
        border-radius: 0.5rem;
        font-size: 1.7rem;
        font-family: 'Social-gothic';

    }
    #text{
        font-size: 1rem;
        margin-right: 1rem;
    }
    #gothic_loc{
        font-family: 'Social-gothic';
        color: var(--yellow);
    }
    #UTFPR{
        width: 25rem;
        border: 1rem solid white;
        border-radius: 1rem;
        margin-right: 1rem;
    }
    .infos{
        font-family: 'Social-gothic';
        margin: 5rem 1rem 10rem 0;
        font-size: 1.5rem;
        
        
    }
    iframe{
        height: 25rem;
        width: 30rem;
        border: none;
        border-radius: 1rem;
        margin: -8rem 0 1rem 0;
    }
    #font{
        font-family: 'Roboto';
    }
}


/*NOTEBOOK*/
@media screen and (min-width:1024px) {
    .localizacao{
        background-image: url(../img/background.png);
        font-family: "Roboto";
        color: var(--white);
        text-align: center;
        border:0;
        width: 100%;
    }
    .title{
        background-color: var(--dark_blue);
        color: var(--white);
        width: 15rem;
        text-align: center;
        margin: 2rem 0 0 30rem;
        border-radius: 0.5rem;
        font-size: 1.7rem;
        font-family: 'Social-gothic';
    }
    #text{
        font-size: 1.5rem;
    }
    #gothic_loc{
        font-family: 'Social-gothic';
        color: var(--yellow);
    }
    #UTFPR{
        width: 25rem;
        border: 1rem solid white;
        border-radius: 1rem;
        margin-right: 25rem;
    }
    .infos{
        font-family: 'Social-gothic';
        margin: -15rem 15rem 0 40rem;
        font-size: 1.5rem;
        
        
    }
    iframe{
        height: 25rem;
        width: 60rem;
        border: none;
        border-radius: 1rem;
        margin: 4rem 0 1rem 0;
    }
    #font{
        font-family: 'Roboto';
    }
}
