nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-menubar);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secondary);
    height: 6rem;
    width: 100%;
    padding: 0 1rem;
}

nav .logo-img {
    width: 5rem;
    height: 5rem;
}

nav button.hamburger-button {
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    cursor: pointer;
}

nav button.hamburger-button.close {
    position: absolute;
    right: 0;
    padding: 1.5rem;
}

nav button.hamburger-button span {
    pointer-events: none;
    color: var(--font-color);
    font-size: 2rem;
}

nav button.hamburger-button:focus {
    outline: none;
}

nav button.hamburger-button:active {
    transform: scale(1.2);
}

nav #navbar-content {
    position: absolute;
    width: 100vw;
    width: 100svw;
    height: 100vh;
    height: 100svh;
    background-color: var(--color-secondary);
    top: 0;
    left: -100vw;
    text-align: center;
    transition: all .5s;
}

nav #navbar-content.open {
    left: 0;
}

nav #navbar-content ul li {
    display: block;
    margin: 3rem 0;
}

nav #navbar-content ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--font-color);
    transition: .5s;
}

nav #navbar-content ul li a:visited {
    color: var(--font-color);
}

nav #navbar-content ul li a:hover,
nav #navbar-content ul li a.active {
    color: var(--color-accent);
    transition: .5s;
}

nav .theme-switcher-container {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    display: inline-block;
    width: 3.25rem;
    height: 1.5rem;
}

nav .theme-switcher-container input {
    opacity: 0;
    width: 0;
    height: 0;
}

nav .theme-switcher {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 2rem;
}

nav .theme-switcher:before {
    position: absolute;
    content: "";
    height: 2.25rem;
    width: 2.25rem;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.5s ease;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

nav input:checked+.theme-switcher {
    background-color: var(--color-accent);
}

nav input:focus+.theme-switcher {
    box-shadow: 0 0 1px var(--primary-color);
}

nav input:checked+.theme-switcher:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s ease;

}

@media screen and (min-width: 768px) {
    nav button.hamburger-button {
        display: none;
    }

    nav #navbar-content {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        position: static;
        background-color: transparent;
        width: initial;
        height: initial;
    }

    nav #navbar-content ul {
        display: flex;
        gap: 1.5rem;
    }

    nav #navbar-content ul li a {
        font-size: 1.25rem;
    }

    nav .theme-switcher-container {
        position: relative;
        left: 0;
        top: 0;
    }
}

@media screen and (min-width:1024px) {}