
/*CELULAR*/
@media screen and (min-width:375px) {
    .container{
        text-align: center;
    }
    #infos_background{
        background: linear-gradient(180deg, #1B7071 0%, #095D84 100%);
        font-family: 'Roboto';
        color: var(--white);
        font-size: 1.5rem;
    }
    .interacoes{
        margin: 0 8rem -2rem 5rem;
    }

    #img {
        position: relative;
        width: 15rem;
        border: none;
        border-radius: 1rem;
        /*NÃO RETIRAR*/
        -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
        margin-bottom: 2rem;

    }
    #button_inscreva{
        border: none;
        border-radius: 1rem;
        width: 100%;
        height: 1.7rem;
        color: var(--dark_blue);
        font-family: 'Social-Gothic';
        margin-left: 2rem;
        margin-top: -7rem;  
        margin-bottom: 2rem;
    }
}

/*TABLET*/
@media screen and (min-width:768px) {
    .container{
        text-align: center;
        width: 100%;
    }
    #infos_background{
        background: linear-gradient(180deg, #1B7071 0%, #095D84 100%);
        font-family: 'Roboto';
        color: var(--white);
        font-size: 1.3rem;
    }
    .interacoes{
        margin: 0 8rem -2rem 8rem;
    }

    #img {
        position: relative;
        width: 32rem;
        border: none;
        border-radius: 1rem;
        /*NÃO RETIRAR*/
        -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
        margin-bottom: 2rem;
    }
    #button_inscreva{
        border: none;
        border-radius: 1rem;
        width: 12rem;
        height: 2.5rem;
        color: var(--dark_blue);
        font-family: 'Social-Gothic';
        margin-top: -7rem;  
        margin-bottom: 2rem;
    }
}
/*NOTEBOOK*/
@media screen and (min-width:1024px) {
    .container{
        text-align: center;
        width: 100%;
    }
    #infos_background{
        background: linear-gradient(180deg, #1B7071 0%, #095D84 100%);
        font-family: 'Roboto';
        color: var(--white);
        font-size: 1.3rem;
    }
    .interacoes{
        display: flex;
        justify-content: space-around;
        margin: 0 11rem 0 17rem;
    }

    #img {
        position: relative;
        width: 32rem;
        border: none;
        border-radius: 1rem;
        /*NÃO RETIRAR*/
        -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
        margin-bottom: 2rem;

    }

    #button_inscreva{
        border: none;
        border-radius: 1rem;
        width: 12rem;
        height: 2.5rem;
        color: var(--dark_blue);
        font-family: 'Social-Gothic';
        margin-top: 7rem;  

    }
    #button_inscreva:hover{
        background-color: var(--yellow);
        color: var(--white);
        transition: 0.5s;
        cursor: pointer;
    }
}
