.patrocinio{
    text-align: center;
    margin-top: 3rem;
    padding: 2rem;
    background-image: url('../img/banner.png'); 
    background-size: cover; 
    background-position: center; 
}
.patrocinio h2{
    font-size: 1.2rem;
    text-align: center;
    color: var(--white);
    font-family: 'social-gothic';
}
.patrocinio p{
    text-align: center;
    color: var(--white);
    font-family: 'roboto';
}
.patrocinio button{
    border: none;
    background-color: var(--yellow);
    border-radius: 1rem;
    width: 8rem;
    height: 2rem;
    font-family: 'Social-Gothic';
    font-size: 0.6rem;
    margin-top: 1.5rem;
}



/*TABLET OK*/
@media screen and (min-width:768px) {
    .patrocionio{
        width: 100%; 
    }
    .patrocinio h2{
        font-size: 2rem;
        font-family: 'social-gothic';
    }
    .patrocinio p{
        font-size: 1.5rem;
    }
    .patrocinio button{
        border: none;
        background-color: var(--yellow);
        border-radius: 1rem;
        width: 12rem;
        height: 2rem;
        font-family: 'Social-Gothic';
        font-size: 1rem;
    }
}
/*NOTEBOOK*/
@media screen and (min-width:1024px) {
    .patrocionio{
        width:100%;
    }
    .patrocinio h2{
        font-size: 2rem;
        text-align: center;
        color: var(--white);
        font-family: 'social-gothic';

    }
    .patrocinio p{
        font-family: 'roboto';
    }
    .patrocinio button{
        border: none;
        background-color: var(--yellow);
        border-radius: 1rem;
        width: 15rem;
        height: 3rem;
        font-family: 'Social-Gothic';
        /* topo | direita | inferior | esquerda */
        font-size: 1.5rem;
    }
    .patrocinio button:hover{
        cursor: pointer;
        background-color: var(--light_blue);
        color: var(--white);
        transition: 0.5s;
    }
}
