/*celular*/
@media screen and (min-width:375px) {
    .patrocionio{
        margin: 3rem 0 2rem 0; 
    }
    #img_banner{
        width: 100%;
    }
    .text_patrocionio{
        margin: -7rem 0 0 0; 
        font-size: 0.7rem;
        text-align: center;
        color: var(--white);
        font-family: 'Roboto';

    }
    #patrocinio_button{
        border: none;
        background-color: var(--yellow);
        border-radius: 1rem;
        width: 8rem;
        height: 2rem;
        font-family: 'Social-Gothic';
        font-size: 0.6rem;
        /* topo | direita | inferior | esquerda */
        margin: -7rem 0 0 5rem;
    }
}


/*TABLET OK*/
@media screen and (min-width:768px) {
    .patrocionio{
        margin: 5rem 0 10rem 0; 
    }
    #img_banner{
        width: 100%;
    }
    .text_patrocionio{
        margin: -15rem 0 4rem 2rem;
        font-size: 1.7rem;
        text-align: center;
        color: var(--white);
        font-family: 'Roboto';

    }
    #patrocinio_button{
        border: none;
        background-color: var(--yellow);
        border-radius: 1rem;
        width: 12rem;
        height: 2rem;
        font-family: 'Social-Gothic';
        /* topo | direita | inferior | esquerda */
        margin: -7rem 0 0 5rem;
        font-size: 1rem;
    }
}
/*NOTEBOOK*/
@media screen and (min-width:1024px) {
    .patrocionio{
        margin: 3rem 0 10rem 0; 
        width:100%;
    }
    #img_banner{
        width: 100%;
    }
    .text_patrocionio{
        margin: -25rem 0 0 0;
        font-size: 2rem;
        text-align: center;
        color: var(--white);
        font-family: 'Roboto';

    }
    #patrocinio_button{
        border: none;
        background-color: var(--yellow);
        border-radius: 1rem;
        width: 15rem;
        height: 3rem;
        font-family: 'Social-Gothic';
        /* topo | direita | inferior | esquerda */
        margin: 0 0 0 40rem;
        font-size: 1.5rem;
    }
    #patrocinio_button:hover{
        cursor: pointer;
        background-color: var(--ligth_blue);
        color: var(--white);
        transition: 0.5s;
    }
}
