.container_rodape{
    background-color: var(--grey);
    text-align: center;
    height: 85vh;
    display: block;
}

.bloco_assinatura {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    background: var(--grey);
}

.assinatura_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome_assinatura {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #969696;
    text-align: center;
}

.icones_assinatura img {
    width: 0.05rem;
    height: 3rem;
    border: none;
    padding: 0.5rem;
    margin: 1rem 0.5rem;
    transition: 0.25s;
    border-radius: 30%;
    background-color: #969696;
}

.icones_assinatura {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.bloco_contato {
    margin-top: 1rem;
    position: relative;
    height: 20vh;
    top: -5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #141414;
}

.bloco_contato img {
    top: 50%;
    left: 50%;
    width: 2.5rem;
    border: none;
    margin-left: 2rem;
    padding: 0.5rem;
    margin-top: 1.5rem;
    transition: 0.25s;
    border-radius: 30%;
    background-color: #969696;
}

.bloco_contato p {
    color: #969696;
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    padding-left: 1rem;
    border-left: 0.25rem solid #969696;
}

/*TABLET OK*/
@media screen and (min-width:768px) {
    .container_rodape{
        background-color: var(--grey);
        text-align: center;
        height: 12rem;
    }

    .container_rodape img{
        width: 3rem;
        border: none;
        margin-left: 2rem;
        padding: 0.5rem;
    }   
   
}
/*NOTEBOOK*/
@media screen and (min-width: 1024px) {
    .container_rodape{
        background-color: var(--grey);
        text-align: center;
        font-size: 1.2rem;
    }
   
    .container_rodape img{
        width: 3rem;
        margin-left: 2rem;
        padding: 0.5rem;
    }
    

    
}
