.container1{
    background-color: var(--grey);
    text-align: center;
    height: 9rem;
    display: block;

}
.menu{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}
.menu a{
    text-decoration: none;
    color: #969696;
    display: block;
}


.container1 img{
    width: 2.5rem;
    border: none;
    margin-left: 2rem;
    padding: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.container1 p{
    color: #969696;
    margin-bottom: 1rem;
}

.container1 img:hover{
    border-radius: 30%;
    border: none;
    background-color: var(--green);
}

/*TABLET OK*/
@media screen and (min-width:768px) {
    .container1{
        background-color: var(--grey);
        text-align: center;
        height: 12rem;
    }
    .menu a{
        margin-top: 2rem;
        transition: 0.5s;
    }
    .menu a:hover{
        color:var(--green);
        transition: 0.5s;
    }

    .container1 img{
        width: 3rem;
        border: none;
        margin-left: 2rem;
        padding: 0.5rem;
    }   
   
}
/*NOTEBOOK*/
@media screen and (min-width: 1024px) {
    .container1{
        background-color: var(--grey);
        text-align: center;
        font-size: 1.2rem;
    }
    .menu{
        display: flex;
    }
   
    .container1 img{
        width: 3rem;
        margin-left: 2rem;
        padding: 0.5rem;
    }
    

    
}
