.objetivos{
    text-align: center;
    width: 100%;
}
.text_objetivos{
    font-family: "Roboto";
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}
.text_objetivos h2{
    font-family: "Social-Gothic";
    border: none;
    background-color: #ffb90873;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    padding: 0.2rem;
}
.text_objetivos p{
    font-size: 1.4rem;
    width: 100%;
    background: var(--yellow);
    color: var(--black);
    padding: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}
.text_objetivos h3{
    font-family: "Social-Gothic";
    font-size: 1.3rem;
    width: 100%;
    margin-top: 1rem;
    background-color: #ffb90873;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
swiper-container{
    --swiper-pagination-color: var(--red);
    --swiper-pagination-size: 2rem;
    --swiper-pagination-top: auto;
}
swiper-slide{
    margin-left: 5rem;
    margin-bottom: 2rem;
    
}
.comunidade{
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--yellow);
    font-family: "Roboto";
    text-align: center;
    width: 11.5rem;
    height: 22em;
}
.comunidade img{
    width: 3rem;
    align-items: center;
}
.comunidade p{
    justify-content: center;
    padding:1rem;
    color: var(--black);
}
#gothic{
    font-family: 'Social-Gothic';
    color: var(--black);
}


/*TABLET*/
@media screen and (min-width:768px) {
    .text_objetivos{
        font-family: "Roboto";
        text-align: center;
        margin: 1rem;
    }
    
    .comunidade{
        text-align: center;
        width: 15rem;
        height: 17rem;
        border-radius: 1rem;
    }
    .comunidade img{
        width: 3.5rem;
        align-items: center;
    }
    .comunida p{
        width: 10rem;
        margin: auto;
        font-family: 'Roboto';
    }
   
    
}

/*NOTEBOOK*/
@media screen and (min-width:1024px) {
    .objetivos{
        text-align: center;

    }
    .text_objetivos{
        font-family: "Roboto";
        text-align: center;
        padding: 1rem;
        margin: 2rem;
    }
    .text_objetivos h2{
        font-size: 2rem;
    }
    .text_objetivos h3{
        font-size: 1.7rem;
    }
    .text_objetivos p{
        margin-left: 10rem;
        width: 70%;
        font-size: 1.2rem;
    }
    swiper-container{
        --swiper-pagination-color: var(--yellow);
        --swiper-pagination-size: 8rem;
        --swiper-pagination-top: auto;
    }
    .comunidade{
        width: 18rem;
        height: 17rem;
    }
    .comunidade img{

        width: 5.9rem;

    }
    .comunidade p{
        margin: auto;
    }
    
}
