:root {
    --red: #d30f0f;
    --yellow: #ffba08;
    --dark_blue: #04588c;
    --light_blue: #4a8fc8;
    --green: #21776c;
    --black: #101010;
    --grey: #1b1b1b;
    --light_grey: #dbdbdb;
    --white: #f6f6f6;
}

.preloader {
    background: var(--grey);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.75s, visibility 0.75s;
}

.preloader.hidden {
    opacity: 0;
    visibility: hidden;
}

.preloader::after {
    content: "";
    width: 7em;
    height: 7em;
    border: 15px solid #dbdbdb;
    border-top-color: var(--green);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {transform: rotate(0turn);}
    to {transform: rotate(1turn);}
}

.theme-light {
    --color-primary: var(--light_blue);
    --color-secondary: var(--light_grey);
    --color-accent: var(--green);
    --font-color: var(--black);
    
}

.theme-dark {
    --color-primary: var(--dark_blue);
    --color-secondary: var(--grey);
    --color-accent: var(--green);
    --font-color: var(--white);
    background-color: var(--grey);
    color: var(--white);
    transition: background-color 0.5s ease;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'social-gothic', sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-secondary);
    margin: 0px;
    overflow-x: hidden;
}

body.no-scroll {
    overflow: hidden;
}

section {
    scroll-margin-top: 6rem;
}

@font-face {
    font-family: "roboto";
    font-weight: 400;
    font-style: normal;
    src: url("https://use.typekit.net/iji5bxg.css");
}

@font-face {
    font-family: "social-gothic";
    font-weight: 700;
    src: url("../Font/Social Gothic Stencil.otf") format('opentype');
}

/*Barra de rolagem*/
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: var(--white);
    /*height: 25rem;*/
}

body::-webkit-scrollbar-thumb {
    background: #0a0a0a;
    /* border-radius: 5rem; */
    border: none;
    width: 0.2px;
}